<section id="usersOnlineSection" class="off-canvas">
    <header class="offCanvasHeader">
        <div class="closeSection">
            <h3>Friends and strangers</h3>
            <i id="closeUsersOnlineSection" class="fa fa-window-close closeSectionMark" aria-hidden="true"></i>
        </div>
    </header>
    <section>
        <p id="clientsOnlineConatiner">Active people in chat: <b id="clientsOnline">0</b></p>
        <ul id="ListOfClients">
        </ul>
    </section>
    <!-- TODO, display people offline
        <section>
        <ul id="">
        </ul>
    </section> -->
</section>
<div id="chatSectionWrapper">
<section id="chatSection">
    <div id="chatContainer">
        <button id="loadPreChatBtn">Load previous messages</button>
    </div>
    <section id="typingContainer">
   
        <div id="imgImgContainer" class="hidden">
            <!-- This image tag is not meant to be seen -->
            <img class="hidden" id="msgImgInput" width="200">
            <p id="msgImgContainer">Image is ready and will be uploaded with your next post! <span id="msgImgInputRemove">(Remove)</span></p>
        </div>
        <div id="textAreaContainer">
            <textarea rows="2" id="chatTextarea" name="chatTextarea" rows="4" cols="50"
                placeholder="Type and press Enter"></textarea>
            <button id="sendToWebserverBtn"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
    
    </section>
</section>
</div>