<header>
<nav class="navbar navbar-light">
    <h2 href="#">Draw n' Chat</h2>
    <a class="nav-link" href="/user/logout">Logout  <i class="fa fa-sign-out" aria-hidden="true"></i></a>
  </nav>
</header>